In [1]:
#dictionary
#indexing
#ordered
#multiple and duplicate data
#mutable

In [2]:
#d = {<key>:<value>, <key>:<value>,...}

In [3]:
d = {'a':'apple','b':'ball','c':'cat'}
print(type(d))

<class 'dict'>

In [7]:
print(d['a'])

apple

In [8]:
print(d)

{'a': 'apple', 'b': 'ball', 'c': 'cat'}

In [12]:
d = {'a':'apple','b':'ball','c':'cat','c':'cow'}
b={1:2,2:4,3:9}
print(b[3])
print(d)

9
{'a': 'apple', 'b': 'ball', 'c': 'cow'}

In [14]:
d = {'a':'apple','b':'ball','c':'cat','c':'cow'}
b={1:2,2:4,3:9}
d.update(b)
print(d)

{'a': 'apple', 'b': 'ball', 'c': 'cow', 1: 2, 2: 4, 3: 9}

In [17]:
d = {'a':'apple','b':'ball','c':'cat','c':'cow'}
for i in d:
    print(i)

a
b
c

In [18]:
d = {'a':'apple','b':'ball','c':'cat','c':'cow'}
for i in d.values():
    print(i)

apple
ball
cow

In [20]:
d = {'a':'apple','b':'ball','c':'cat','c':'cow'}
for i in d.items():
    print(i,end='')

('a', 'apple')('b', 'ball')('c', 'cow')

In [22]:
#create
#d = dict{}
d ={}
d['a']= 'apple'
d['b']='ball'
d['c']='cat'
d

{'a': 'apple', 'b': 'ball', 'c': 'cat'}

In [26]:
#update
d = {'a':'apple','b':'ball','c':'cat','c':'cow'}
d['a']='Ant'
d

{'a': 'Ant', 'b': 'ball', 'c': 'cow'}

In [32]:
#delete
d = {'a':'apple','b':'ball','c':'cat','c':'cow'}
del d['b']
print(d)

{'a': 'apple', 'c': 'cow'}

In [37]:
#delete
d = {'a':'apple','b':'ball','c':'cat','c':'cow'}
b=d.pop('b')
print(b)
print(d)

ball
{'a': 'apple', 'c': 'cow'}

In [38]:
#list inside dict
info = {'Ram':987655444,'ham':967997875,'hairy':98765443}
info

{'Ram': 987655444, 'ham': 967997875, 'hairy': 98765443}

In [39]:
#list inside dict
info = {'Ram':[987655444,9897987897],
        'ham':[967997875,9869869698],
        'hairy':[98765443,9876567]}
info

{'Ram': [987655444, 9897987897],
 'ham': [967997875, 9869869698],
 'hairy': [98765443, 9876567]}

In [41]:
print(info['Ram'])
print(info['Ram'][0])

[987655444, 9897987897]
987655444

In [45]:
info['Ram'][0]= 9875435
info

{'Ram': [9875435, 9897987897],
 'ham': [967997875, 9869869698],
 'hairy': [98765443, 9876567]}

In [47]:
d ={}
d['name']= input("enter your value a")
d['roll']=int(input("enter your value b"))
d['add']=input("enter your value c")
d

enter your value adaix
enter your value b97655
enter your value cktm

{'name': 'daix', 'roll': 97655, 'add': 'ktm'}

In [1]:
d = {}
n=int(input("enter yur num"))
for i in range(n):
    name= input("enter your  name")
    ntc=int(input("enter your ntc"))
    ncell=int(input("enter your ncell"))
    d[name]=[ntc,ncell]
print(d)

enter yur num3
enter your  namedaix
enter your ntc97879
enter your ncell43543
enter your  namefsdfs
enter your ntc545
enter your ncell354
enter your  namefdgf
enter your ntc253
enter your ncell5445
{'daix': [97879, 43543], 'fsdfs': [545, 354], 'fdgf': [253, 5445]}

In [8]:
d = {'name':['ram','shyam'],
    'ntc':[989797986,987866986],
    'ncell':[7687698,987889]}

print(d['name'][0],d['ntc'][0],d['ncell'][0])

ram 989797986 7687698

In [6]:
d ={}
n = int(input("enter your num"))
for i in range(n):
    name=input('enter yiur name')
    ntc=int(input('Enter your number NTC'))
    ncell=int(input("enter your ncell number"))
    address=input("enter your address")
    d[name]=[ntc,ncell,address]
print(d)
m= int(input("enter the operation number 1 for delet, 2 for ........ and 3 for ......"))
if m == 1:
    del d[0]
    print(d)

enter your num2
enter yiur namesf
Enter your number NTC24
enter your ncell number42
enter your addressrfs
enter yiur name234
Enter your number NTC24324
enter your ncell number234324
enter your addressfsd
{'sf': [24, 42, 'rfs'], '234': [24324, 234324, 'fsd']}
enter the operation number 1 for delet, 2 for ........ and 3 for ......1

KeyError: 0

##

In [4]:
#dict inside list
d = [{'name':'ram', 'age':34,'add':"bhaktpur"},
    {'name':'shyam','age':66,'add':'kathmandu'},
    {'name':'hairy','age':79,'add':'chitwan'}]
print(d)

[{'name': 'ram', 'age': 34, 'add': 'bhaktpur'}, {'name': 'shyam', 'age': 66, 'add': 'kathmandu'}, {'name': 'hairy', 'age': 79, 'add': 'chitwan'}]

In [9]:
l=[]
n = int(input('Enter your n='))
for i in range(n):
    name = input("enter your name")
    ntc = input('Enter ntc num')
    ncell = input('Enter ncell num')
    d={'name':name,'ntc':ntc,'ncell':ncell}
    l.append(d)
print(l)
del l[0]
print(l)

Enter your n=2
enter your namefdsf
Enter ntc num3424
Enter ncell num4234
enter your namedfsf
Enter ntc num23434
Enter ncell num4234
[{'name': 'fdsf', 'ntc': '3424', 'ncell': '4234'}, {'name': 'dfsf', 'ntc': '23434', 'ncell': '4234'}]
[{'name': 'dfsf', 'ntc': '23434', 'ncell': '4234'}]

In [11]:
#dict inside Dict
info={1:{'name':'ram','age':34,"add":"ktm"},
      2:{'name':'hairy','age':34,"add":"bkt"},      
      3:{'name':'diax','age':34,"add":"lalitpur"}} 
info

{1: {'name': 'ram', 'age': 34, 'add': 'ktm'},
 2: {'name': 'hairy', 'age': 34, 'add': 'bkt'},
 3: {'name': 'diax', 'age': 34, 'add': 'lalitpur'}}

In [14]:
print(info[1])
print(info[1]['name'])
print(info[2])

{'name': 'ram', 'age': 34, 'add': 'ktm'}
ram
{'name': 'hairy', 'age': 34, 'add': 'bkt'}

In [5]:
info={}
n = int(input('Enter your num'))
for i in range(1,n+1):
    name = input("enter your name")
    age = int(input("enter your age"))
    add= input("enter your add")
    d={'name':name,'age':age,'add':add}
    info[i]= d
print(info)

Enter your num1
enter your namehi
enter your age5
enter your addjs
{1: {'name': 'hi', 'age': 5, 'add': 'js'}}

In [ ]:
info[3]={'name':'Akash','age':'18','add':'kathmandu'}