In [2]:
#file 
# file = open("<file_name>",'<mode>')
#file .close()

#with open('<file_name>','<mode>') as file:
#<operations>
# modes
# create -> 'x'
# read ->'r'
# write ->'w'
# append->'a'

In [3]:
file = open('data .txt','x')
file.close()

In [4]:
pwd

'C:\\Users\\A S P I R E 5\\python_class'

In [13]:
file = open('data .txt','r')
data = file.read()
print(data)
file.close()

goldy chutiya
dhechy bdsk
1.hello
2.world
3.yreeep

try

In [14]:
try:
    file = open('data .txt','x')
    file.close()
except:
    print("file is already there")

file is already there

In [15]:
d=data.split('\n')
d

['goldy chutiya', 'dhechy bdsk', '1.hello', '2.world', '3.yreeep']

In [20]:
# write mode
file = open('data1.txt','w')
file.write('Hello diaz sir')
file.close()

In [1]:
bill =str()
n = int(input('enter the value of  n'))
for i in range(n):
    name = input("Enter product name")
    price = float(input("Enter the price of product "))
    qty =float(input("enter the quantity "))
    total = price*qty
    bill = bill + f'{name},{price},{qty},{total}\n'
    file = open('bill.csv','w')
    file.write('name,price,qty,total\n')
    file.write(bill)
    file.close()

enter the value of  n2
Enter product namechocolate
Enter the price of product 500
enter the quantity 2
Enter product nameicecream
Enter the price of product 100
enter the quantity 2

In [4]:
pwd

'C:\\Users\\A S P I R E 5\\python_class'

In [6]:
#using append mode
file = open('bill1.csv','a')
file.write('name,price,qty,total\n')

21

In [8]:
bill =str()
n = int(input('enter the value of  n'))
for i in range(n):
    name = input("Enter product name")
    price = float(input("Enter the price of product "))
    qty =float(input("enter the quantity "))
    total = price*qty
    bill = bill + f'{name},{price},{qty},{total}\n'
    
file.write(bill)

enter the value of  n2
Enter product namecoke
Enter the price of product 250
enter the quantity 2
Enter product namefanta
Enter the price of product 250
enter the quantity 3

43

In [9]:
file.close()

In [11]:
import pandas as pd
df = pd.read_csv('bill1.csv')
df

     name  price  qty  total
0   apple   20.0  3.0   60.0
1  banana  300.0  2.0  600.0
2    coke  250.0  2.0  500.0
3   fanta  250.0  3.0  750.0