In [1]:
a=10
print(a)

10

In [6]:
a=10
b=2.2
c="hello dear"
d=True
print(a)
print(b)
print(c)
print(d)

10
2.2
hello dear
True

In [7]:
a=10
b=2.2
c="hello dear"
d=True
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [10]:
s='hello'
s="hello"
s="""hello"""
print(s)

hello

In [2]:
a=10
b=3
print(a+b)
print(a-b)
print(a/b)
print(a**b)
print(a%b)

13
7
3.3333333333333335
1000
1

In [2]:
m ="hello_world\t"
print(m * 2)

hello_world	hello_world

In [3]:
a = 210
print(type(a))

<class 'int'>

In [7]:
b=str(a)
print(b)
print(type(b))

210
<class 'str'>

In [10]:
c=str(b)
c

'210'

In [11]:
a=10.5
b=int(a)
b

10

In [12]:
b=5
c=float(b)
c

5.0

In [13]:
a='20'
b='30'
a+b

'2030'

In [15]:
c = 1
d=bool(c)
d

True

In [16]:
c = 1.001
d=bool(c)
d

True

In [19]:
c =0
d=bool(c)
d

False

In [29]:
name ="Diaz"
age=21
add="ktm"

info="hello i am " + name+ ' ' + add+ "i am " + str(age) 
print(info)

hello i am Diaz ktmi am 21

name = input("enter name=")
age = int(input("enter age="))
add = input("enter add=")

In [1]:
a=10
b=str(a)
b

'10'

In [4]:
name = input("Enter the num")
age = int(input("Enter the age"))
address = input("enter your address")

info="hello i am "+ name + "i am " +str(age)+" years old. I live in "+ address
info

Enter the numkjb
Enter the age5
enter your addressgfg

'hello i am kjbi am 5 years old. I live in gfg'

In [7]:
a = 5
b = 8
c=str(b)
print (type(c), a, b, c)

<class 'str'> 5 8 8

In [11]:
my={
    1: 'diaz',
    2: 'BAD',
    3: 'lluck'
}
print(my[3])

lluck

In [16]:
info ={
    'name':'karan', 'age':'20','address':'ktm'
}
print(info.items())
for key, value in info.items():
    print(f"the value corresponding to the key{key} is {info[key]}")

dict_items([('name', 'karan'), ('age', '20'), ('address', 'ktm')])
the value corresponding to the keyname is karan
the value corresponding to the keyage is 20
the value corresponding to the keyaddress is ktm

In [23]:
colors = ['red','green','blue','yellow']
for color in colors:
    print(color)

red
green
blue
yellow

In [22]:
 for i in color:
    print(i)

y
e
l
l
o
w