In [14]:
import mysql.connector
database = mysql.connector.connect(
    host ='localhost',
    user ='root',
    password ='',
    database ='pythoncalss'
)
db = database.cursor()

In [15]:
db.execute("SELECT * FROM student where grade ='A'")
result = db.fetchall()
for x in result:
    print(x)

(1, 'diax we lose today', 67, 97, 98, 80, 82, 400, 89.5, 'A')
(3, 'Goldy', 89, 88, 86, 86, 84, 400, 86.9, 'A')
(4, 'dichu', 87, 90, 95, 87, 92, 400, 89.99, 'A')
(5, 'diaz', 94, 94, 96, 96, 0, 85465, 93.0, 'A')

In [4]:
#insert
#import mysql.connector
name=input('Enter your name')
M =int(input("enter the marks"))
C =int(input("enter the marks"))
P =int(input("enter the marks"))
N=int(input("enter the marks"))
E=int(input("Enter the marks"))
if M>20 and C>20 and P>20 and N>20 and E>20:
    total= M+C+P+N+E
#print(total)
    per= total/5
#print(per)

if per>=80:
    grade = 'A'
    
elif per>=60:
    grade = 'b'
elif per>=50:
    grade = 'c'
elif per>=40:
    grade = 'd'
else:
    grade = 'fail'
    

    
sql = f'''insert into student(name,physics,chemistry,maths,English,Total,Per,Grade)
values('{name}',{P},{C},{M},{N},{E}{total},{per},'{grade}')'''
db.execute(sql)
database.commit()

Enter your namediaz
enter the marks96
enter the marks94
enter the marks94
enter the marks96
Enter the marks85

In [12]:
#update
sql="UPDATE student SET chemistry = '97', physics = '67' WHERE student.sn = 1"
db.execute(sql)
database.commit()

In [9]:
#update
subject=input("enter your subject =")
marks =int(input("enter marks = "))
sn = int(input("Enter sn = "))
sql = f"Update student SET {subject}={marks} WHERE student.sn={sn}"
db.execute(sql)
database.commit()

enter your subject =maths
enter marks = 98
Enter sn = 1

In [19]:
#delete
sn = int(input("Enter sn = "))
sql = f"DELETE FROM student WHERE sn ={sn}"
db.execute(sql)
database.commit()

Enter sn = 5