In [1]:
#string
a = 'hello world'
b = 'hello world'
print(type(a))

<class 'str'>

In [2]:
a ='hello'
b = ' world'
c = a+b
print(c)

hello world

In [3]:
a = 'hello world '
print(a*2)

hello world hello world

In [4]:
a = 'hello world'
print(a[0])
a = 'hello world'
print(a[1])
a = 'hello world'
print(a[2])
a = 'hello world'
print(a[3])
a = 'hello world'
print(a[4])
a = 'hello world'
print(a[-1])
a = 'hello world'
print(a[-2])

h
e
l
l
o
d
l

In [5]:
a = 'hello world'
print(a[0:7])

hello w

In [6]:
a = 'hello world'
print(a[0:11:2])

hlowrd

In [7]:
a = 'hello_world'
print(len(a))

11

In [8]:
a = 'hello world'
for i in range(len(a)):
    print(a[i], end="")

hello world

In [9]:
i = 0
a ="hello world"
while i<len(a):
    print(a[i])
    i=i+1

h
e
l
l
o

w
o
r
l
d

In [10]:
#string formating
name = "hey"
add = 'ktm'
age = 20
#info = 'hy i am '+name + 'i am '+str(age)+'years old'+'i live in '+add
info = f"Hello i am {name}. i am from {add}. i am {age}"
print(info)

Hello i am hey. i am from ktm. i am 20

In [1]:
#s = str()
s = ""
i = 0
n =int(input("enter n"))
while i<n:
    name = input("enter your name")
    phone= input("enter your num")
    s = s + f'{name} {phone}\n'
    i = i+1
    print(s)

enter n2
enter your nameh
enter your num999
h 999

enter your namejj
enter your num99
h 999
jj 99

In [ ]:
#search in string
a = 'ram shyam  hari sita gita bola'
search = input('enter search value')
if search in a:
    print("yes")
    
else:
    print("no")

In [ ]:
a = 'ram shyam  hari sita gita bola'
print(a.upper())
print(a.lower())
print(a)

In [ ]:
a = 'ram shyam  hari sita gita bola'.lower()
search = input('enter search value').lower()
if search in a:
    print("yes")
    print(a.count(search))
    
else:
    print("no")

In [ ]:
#replace
a = 'ram shyam  hari sita gita bola'
a=a.replace('ram','Ram')
print(a)

In [ ]:
a = 'ram shyam  hari sita gita bola'
a=a.replace('ram','')
print(a)

In [2]:
a = 'ram shyam  hari sita gita bola'
a.split()

['ram', 'shyam', 'hari', 'sita', 'gita', 'bola']

In [9]:
i = 1
count = 0
a ="hello world i am python"
while i< (len(a)):
    
    if a[i]==" ":
        #print(i)
        count = count+1
    i=i+1
print("number of blank",count)

number of blank 4

In [ ]:
#python data collection
#list
#tuple
#dict
#set

In [ ]:
#list
#indexing
#mutablele and duplicate data
#ordered
#mutable

In [2]:
#list
l =["apple","ball","cat"]
a = [1,2,3,4,5,6]
print(type(l))
print(type(a))

<class 'list'>
<class 'list'>

In [3]:
l =["apple","ball","cat"]
print(l)
print(l[0])
print(l[0:4])
print(l[0:4])
print(l[0:5:2])

['apple', 'ball', 'cat']
apple
['apple', 'ball', 'cat']
['apple', 'ball', 'cat']
['apple', 'cat']

In [4]:
a =[1,2,3,4,5]
b= [6,7,8,9,10]
c = a+b
print(c)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [5]:
a =[1,2,3,4]
print(a*2)

[1, 2, 3, 4, 1, 2, 3, 4]

In [6]:
l =["apple","ball","cat"]
for i in l:
    print(i)

apple
ball
cat

In [8]:
l =["apple","ball","cat"]
search= input('enter searh')
if search in l:
    print('yes')
    print(l.count(search))
else:
    print("no")

enter searhcat
yes
1

In [12]:
#append() ectend() insert()
a=[]
a.append('apple')
a.append('ball')
a.append('cat')
print(a)

['apple', 'ball', 'cat']

In [16]:
l = []
n = int(input('enter the num'))
for i in range(n):
    x=int(input("enter the x"))
    l.append(x)
print(l)

enter the num3
enter the x1
enter the x2
enter the x3
[1, 2, 3]

In [19]:
l=[12,13,14,15,1,456,56]
print('maximum value',max(l))
print('minimum value',min(l))
print("sum of list",sum(l))
l.sort()
print(l)

maximum value 456
minimum value 1
sum of list 567
[1, 12, 13, 14, 15, 56, 456]

In [22]:
a = ['ball','zabra','apple','cat']
a.sort()
print(a)

['apple', 'ball', 'cat', 'zabra']

In [24]:
a = ['ball','zabra','apple','cat']
a.insert(1,'Add')
print(a)

['ball', 'Add', 'zabra', 'apple', 'cat']

In [25]:
a = [1,23,4,5,6,7]
b=[9,10,12,13,14]
a.extend(b)
print(a)

[1, 23, 4, 5, 6, 7, 9, 10, 12, 13, 14]

In [29]:
#del remove() pop()
a = ['ball','zabra','apple','cat']
del a[1]
print(a)

['ball', 'apple', 'cat']

In [31]:
a = ['ball','zabra','apple','cat','ball','zabra','apple','cat']
del a[0:3]
print(a)

['cat', 'ball', 'zabra', 'apple', 'cat']

In [38]:
a = ['ball','zabra','apple','cat','ball','zabra','apple','cat']
c= a.count('ball')
for i in range(c):
    a.remove('ball')

print(a)

['zabra', 'apple', 'cat', 'zabra', 'apple', 'cat']

In [1]:
l = ['apple','cat','ball','orange','fish','curry','apple',"apple","apple","apple"]
count = len(l)
for i in range(count):
    if 'apple' == l[i]:
        print(i)
       # count=count+1
        #print(l[i])
        #print(l.index("apple"))

0
6
7
8
9

In [3]:
#list inside list
l =[[1,2,3],
   [4,5,6],
   [7,8,9]]
print(l)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [6]:
a = [['ram',45,'kathmandu'],
    ['shyam',30,'chitwan'],
    ['aadesh',90,'mugling']]
print(a)
print(a[0])
print(a[0][1])

[['ram', 45, 'kathmandu'], ['shyam', 30, 'chitwan'], ['aadesh', 90, 'mugling']]
['ram', 45, 'kathmandu']
45

In [ ]:
l = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter add = ")
    m = [name,age,add]
    l.append(m)
    
print(l)

In [ ]:
l = [['Ram', 34, 'Kathmandu'], ['Bharat', 34, 'Kathmandu']]
l.append(["Hari",23,"Lalitpur"])
print(l)
del l[2]

In [ ]:
# search
l = [['Ram', 34, 'Kathmandu'],
     ['Bharat', 34, 'Kathmandu'],
     ['Ram', 23, 'Lalitpur']]

name = input("Enter name = ")
for i in l:
    if name in i:
        print(i)

In [17]:
a = [["Apple"],["Ball"],["Cat"]]
for i in a:
    if "Apple" in i:
        print("Yes")

Yes

In [18]:
#Update
l = ['Ram', 34, 'Kathmandu']
l[0] = "Rama"
l

['Rama', 34, 'Kathmandu']

In [19]:
l = [['Ram', 34, 'Kathmandu'],
     ['Bharat', 34, 'Kathmandu'],
     ['Ram', 23, 'Lalitpur']]
l[0][0] = "Rama"
l

[['Rama', 34, 'Kathmandu'],
 ['Bharat', 34, 'Kathmandu'],
 ['Ram', 23, 'Lalitpur']]

In [20]:
# WAP to create a matrix by taking input from user
# r -> ?
# c -> ?
# x -> [[1,2,3],[4,5,6],[8,9,0]]
#y  -> []

In [5]:
x = []
r = int(input("Enter r = "))
c = int(input("Enter c = "))
for i in range(r):
    y = []
    for j in range(c):
        z = int(input("Enter z = "))
        y.append(z)
    x.append(y)
print(x)

Enter r = 4
Enter c = 4
Enter z = 2
Enter z = 3
Enter z = 4
Enter z = 5
Enter z = 6
Enter z = 7
Enter z = 8
Enter z = 9
Enter z = 23
Enter z = 34
Enter z = 45
Enter z = 56
Enter z = 76
Enter z = 78
Enter z = 34
Enter z = 22
[[2, 3, 4, 5], [6, 7, 8, 9], [23, 34, 45, 56], [76, 78, 34, 22]]